@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Dosis", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

h1 {
  background: #222831;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.card {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  /* background: #deeaf6; */
  /* border-radius: 50px; */
  width: 27rem;
  height: 27rem;
  margin: 5rem;
  background: #feffff;
  /* box-shadow: 20px 20px 60px #d8d9d9, -20px -20px 60px #ffffff; */
}

/* .card {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
} */

/* card style 2 */

.card {
  border-radius: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

img {
  height: 20rem;
  width: 100%;
  /* border-radius: 20px; */
  /* width: 25rem; */
}

/* .card:hover {
  background: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d8d9d9, -20px -20px 60px #ffffff;
} */

.btn {
  padding: 1rem 2rem;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  border: none;
  background: #222831;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  /* box-shadow: #f3f9ff -10px -10px 20px, #becbd8 10px 10px 20px; */
}

.btn a {
  color: #deeaf6;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  transition: ease 500ms;
  background: #00adb5;
}
